In [ ]:
textToPrint = "Hello World";
print(textToPrint)

Hello World

In [ ]:
# formatted printing
name = ""
print(f"Hello, {name}!")

In [21]:
x = 1 
+x
print(x)

1

In [15]:
a = "  Hello World  ";
a = a.strip();
print(a);
print(a.__sizeof__());

Hello World
60

In [25]:
ls_a = [1, 2, 3, 4, 5];
ls_a.append(6);
ls_a.insert(0,0);
print(ls_a);
ls_a[0:2]
ls_a[3:6]

[0, 1, 2, 3, 4, 5, 6]

[3, 4, 5]

In [31]:
dict_a = {"name": "John", "age": 30, "city": "New York"};
print(dict_a["name"]);
print(dict_a["age"]);
for key,val in dict_a.items():
    print(key, ":", val);

John
30
name : John
age : 30
city : New York

In [ ]:
x = 10
y = 2
print(f"x += y  : {x += y}")
# print(f"x ++    :" {x++})
# print(f"x -= y  :" {x -= y})
# print(f"x * y   :" {x * y})
# print(f"x / y   :" {x / y})
# print(f"x % y   :" {x % y})
# print(f"x // y  :" {x // y})
# print(f"x ** y  :" {x ** y})

x += y  : 12

In [34]:
def add(x, y):
    return x + y;

print(add(x=1, y=2.1));

3.1

In [ ]:
def add_integer(x:int, y:int) -> int:
    """Function to add two integers.
    Arguments:           
        x (int): First integer.
        y (int): Second integer.
    Returns:
        int: Sum of x and y.
    """
    return int(x + y);


sum = add_integer(x=1, y=2)
print(sum);

3

In [46]:
add_integer(1, 2)

3

In [49]:
def printArgumentValue(*argv):
    for arg in argv:
        print(arg)

printArgumentValue('a', 'b', 'c', 1)

a
b
c
1

In [56]:
def printNationality(**kwargs):
    for key, value in kwargs.items():
        print("param %s = %s" % (key, value))

# call
printNationality(MotherNationality='USA', FatherNationality='USB', ChildNationality='TypeC')

param MotherNationality = USA
param FatherNationality = USB
param ChildNationality = TypeC

In [57]:
printNationality(MotherNationality='USA', FatherNationality='USB')

param MotherNationality = USA
param FatherNationality = USB

In [84]:
class Person:
    def __init__(self, name, age):
        self.name = name 
        self.__age = age

    def showInfo(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old.")
    
    @property
    def age(self):
        return self.__age
    
    @age.setter
    def age(self, age): 
        self.__age = age

In [85]:
person_1 = Person(name="Sathon", age=30)
person_1.showInfo()
print(person_1.name) 
print(person_1.age)

Hello, my name is Sathon and I am 30 years old.
Sathon
30

In [83]:
person_1.name = "Sasithon"
person_1.age = 31;
print(person_1.name)
print(person_1.age)

Sasithon
31

In [186]:
class Person:
    """A class to represent a person."""
    def __init__(self, name, nickname, age):
        self.name = name            # public attribute
        self._nickname = nickname   # protected attribute
        self.__age = age            # private attribute

    @property
    def age(self):
        return self.__age

    @age.setter
    def age(self, age):
        self.__age = age
        
    def _showInfo(self):
        print(f"name: {self.name}, nick_ nickname: {self._nickname}, age: {self.__age}")
        
    def _calYearsOfBirth(self):
        return 2025 - self.__age

In [187]:
# protected attribute
person_2 = Person(name="Sathon", nickname="Sak", age=30)
print(person_2.name)
# edit attribute
person_2.name = "Sasithon"
print(person_2.name)

Sathon
Sasithon

In [188]:
# protected attribute
person_2 = Person(name="Sathon", nickname="Sak", age=30)
print(person_2._nickname)  # Accessing protected attribute
# edit attribute
person_2.nickname = "Sod"
print(person_2._nickname)

Sak
Sak

In [189]:
# protected attribute
person_2 = Person(name="Sathon", nickname="Sak", age=30)
print(person_2._nickname)  # Accessing protected attribute
# edit attribute
person_2._nickname = "Sod"
print(person_2._nickname)

Sak
Sod

In [190]:
# private attribute
person_2 = Person(name="Sathon", nickname="Sak", age=30)
print(person_2.age)
# edit attribute
person_2.age = 31
print(person_2.age)

30
31

In [191]:
class Employee(Person):
    # Class variable
    _companyName = "JTechCorp"
    def __init__(self, name, nickname, age, department, employee_id):
        super().__init__(name, nickname, age)   # inherrit the constructor of the parent class
        self._employee_id = employee_id
        self._department = department
        self.__salary = 10000
        
    def _showInfo(self):
        super()._showInfo()
        print("Department: ", self._department)
        print("Employee ID: ", self._employee_id)
        print("Salary: ", self.__salary)
        print("Company Name: ", self._companyName)

In [192]:
emp_1 = Employee(name="Saksit", 
                 nickname="A", 
                 age=24, 
                 department="Programmer", 
                 employee_id="A123")
emp_1._showInfo()

name: Saksit, nick_ nickname: A, age: 24
Department:  Programmer
Employee ID:  A123
Salary:  10000
Company Name:  JTechCorp

In [193]:
emp_1._calYearsOfBirth()

2001

In [205]:
from abc import ABC, abstractmethod

class Person(ABC):
    """A class to represent a person."""
    def __init__(self, name, age):
        self.name = name
        self.__age = age

    @property
    def age(self):
        return self.__age

    @age.setter
    def age(self, age):
        self.__age = age

    def showInfo(self):
        print(f"name: {self.name}, age: {self.age}")
    
    @abstractmethod
    def _calYearsOfBirth(self):
        return 2025 - self.__age

In [ ]:
p1 = Person(name="Sathon", age=30)

TypeError: Can't instantiate abstract class Person with abstract method _calYearsOfBirth

In [206]:
class Programmer(Person):
    def __init__(self, name, age, programming_language):
        super().__init__(name, age)
        self.programming_language = programming_language

    def showInfo(self):
        super().showInfo()
        print(f"programming_language: {self.programming_language}.")
        
    def _calYearsOfBirth(self):
        return 2025 - self.age

In [207]:
p1 = Programmer(name="Sathon", age=30, programming_language="Python")
p1.showInfo()

name: Sathon, age: 30
programming_language: Python.

In [208]:
import numpy as np
x = [1, 1, 1, 2, 3, 4, 5, 6, 2]
np.unique(x).size == len(x)

False

In [209]:
np.unique(x).size

6